* {
	margin: 0px;
	padding: 0px;

	font-size: 60%;
}

.menu {
	
	background: tomato;
	max-height: 320px;

}


.menu-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.menu-container img{
	padding: 3rem;
}

.menu-container a {
	font-size: 3.2rem;
	text-decoration: none;
	color: white;
	margin: 1rem 1rem;
	padding: 0.6rem;
	border-radius: 2.4rem;
	background-color: #FF7F50; 


}


.links {
	display: flex;
	flex-direction: column;

}

/*Slide*/

.slide {
	display: flex;
	width: 100%;
	border-radius: 1rem;
	align-items: center;
	justify-content: center;
	font-size: 3.2rem;
}

.into-slide{
	
}

.into-slide img{
	width: 50vw;
	height: 50vh;
}

.slide button{
	position: absolute;
	border-radius: 3.2rem;
	border: none;
	font-size: 3.2rem;
	color: tomato;
	background-color: rgba(255, 255, 255, 0.5); 
}

@media (min-width: 500px){

		.menu-container {
			display: flex;
			flex-direction: column;
		}

		

		.links {
			display: flex;
			flex-direction: row;
			justify-content: center;
			
		}


    @media (min-width: 800px){
		.menu-container {
			display: flex;
			flex-direction: row;
		}

		.menu-container img{
			margin-left:  6.4rem;
		}

		.links {
			display: flex;
			flex-direction: row;
			margin-right: 6.4rem;
		}

		.menu-container a{
			font-size: 2rem;

		}
    }
}